html
  head
    title='Docker Rocks'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello Pluralsighters!!!
        p Simple web app that is not patched and not safe!!
        p 
