html
  head
    title='Docker Rocks'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Welcome to Docker this is Suhas!!!
        p This is my First Docker Image Hope to see it good.
        p 
