html
  head
    title='Docker Rocks'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello Docker learners!!!
        p Be careful. The last time I updated the packages in this app was Spetember 2020.
        p 
