html
  head
    title='Islamic FTW'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Assalamualaikum Learners check new Islamic books!!!
        h2 Check out my other books
        p
          a.btn.btn-primary(href="https://www.amazon.in/Sahih-al-Bukhari-Volumes-Book-English/dp/B088LJJC2X/ref=sr_1_1_sspa?crid=LHSB9E6GJ6C8&keywords=sahih+al+bukhari&qid=1698869857&sprefix=sahi%2Caps%2C478&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1" target="_blank") Sahi Bukhari
          a.btn.btn-outline-primary(href="https://www.amazon.in/Noble-Quran-Arabic-Urdu-Translation/dp/2379225699/ref=sr_1_2_sspa?crid=GH58R07E1NIC&keywords=quran+in+english+with+meaning&qid=1698869955&sprefix=quran%2Caps%2C197&sr=8-2-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1" target="_blank") Quran Sharif         
          a.btn.btn-primary(href="https://www.amazon.in/Fazail-Amaal-Vol-1-Urdu-New/dp/9386345293/ref=sr_1_1?crid=881T1Q904NCO&keywords=Fazail-e-Amaal&qid=1699305616&sprefix=fazail-e-amaal%2Caps%2C255&sr=8-1" target="_blank") Fazail E Amaal
        p
        p Be careful. The last time I updated the packages in this app was Nov 2023.
