html
  head
    title='Docker FTW'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello Docker learners!!!
        h2 Check out my other books
        p
          a.btn.btn-primary(href="https://www.amazon.com/dp/1916585027" target="_blank") Quick Start Kubernetes

          a.btn.btn-outline-primary(href="https://www.amazon.com/dp/1916585000" target="_blank") The Kubernetes Book

          a.btn.btn-primary(href="https://www.amazon.com/dp/B0DHHK2R85" target="_blank") AI Explained
          
        p
        p Be careful. The last time I updated the packages in this app was Dec 2024.

